<!DOCTYPE html>
<html>
    <head>
        <title>Goodreads | Meet your next favorite book</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Baseball Books</h1>
        <hr>
        <div>
            <ul>
                <li><a href="/baseball-1">Ball Four</a></li>
                <li><a href="/baseball-2">Moneyball: The Art of Winning an Unfair Game</a></li>
                <li><a href="/baseball-3">The Summer Game</a></li>
            </ul>
        </div>
    </body>
</html>