{% extends "layout.html" %}

{% block body_content %}
<h1>Here are the books we have in stock!</h1>

<hr>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Moneyball: The Art of of Winning an Unfair Game</h5>
    <p class="card-text">by Michael Lewis Max Weber</p>
    <p class="card-description">Moneyball: The Art of Winning an Unfair Game is a book by Michael Lewis, published in 2003,
     about the Oakland Athletics baseball team and its general manager Billy Beane. Its focus is the team's analytical, evidence-based,
    sabermetric approach to assembling a competitive baseball team despite Oakland's small budget.
    </p>
  </div>
</div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Friday Night Lights: A Town, a Team, and a Dream</h5>
    <p class="card-text">by Buzz Bissigner</p>
    <p class="card-description">Friday Night Lights: A Town, a Team, and a Dream is a 1990 non-fiction book written by H. G. Bissinger.
    The book follows the story of the 1988 Permian High School Panthers football team from Odessa, Texas, as they made a run towards the
    Texas state championship.
    </p>
  </div>
</div>

{% endblock %}