<!DOCTYPE html>
<html>
    <head>
        <title>Goodreads | Meet your next favorite book</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Browse our Books!</h1>
        <hr>
        <div>
            <ul>
                <li><a href="/basketball">Basketball Books</a></li>
                <li><a href="/football">Football Books</a></li>
                <li><a href="/baseball">Baseball Books</a></li>
            </ul>
        </div>
    </body>
</html>