<!DOCTYPE html>
<html>
    <head>
        <title>Goodreads | Meet your next favorite book</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <img alt="Goodreads: Book reviews, recommendations, and discussion"
         src="https://s.gr-assets.com/assets/home/header_logo-8d96d7078a3d63f9f31d92282fd67cf4.png">

        <h2>Deciding what to read next?</h2>
        <a href="/browse">Browse our Books Here</a>
        <h2>What are your friends reading?</h2>
        <h2>Are you an author or a publisher?</h2>
    </body>
</html>